<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <title>Place Bids</title>
  </head>

  <body class="text-center bg-secondary">
    <header
      class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-white"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Bidding For Envy Freeness</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link active" aria-current="page">Home</a>
        </li>
      </ul>
    </header>
    <h1 class="mb-4 mt-4 text-info">Place Your Bids</h1>
    <form action="/random" method="post">
      <div class="d-grid mt-5 mb-5">
        <button type="submit" class="btn btn-danger">Random Bids</button>
        <input type="hidden" name="size" value="{{ size }}" />
      </div>
    </form>
    <form action="/bfef" method="post" class="container text-center">
      <div class="row row-cols-3">
        {% if size is defined %} {% for i in range(size) %}
        <div class="col">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Player {{ i+1 }}</h5>
              {% for j in range(size) %}
              <label for="player{{ i+1 }}_bundle{{ j+1 }}"
                >Bundle {{ j+1 }}:</label
              >
              <input
                type="number"
                id="player{{ i+1 }}_bundle{{ j+1 }}"
                name="player{{ i+1 }}_bundle{{ j+1 }}"
                class="form-control form-control-lg"
                placeholder="Bundle {{ j + 1 }}"
                value="{{ biddings[i][j] if biddings else 0 }}"
                style="appearance: textfield"
              />
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
      <div class="d-grid mt-5 mb-5">
        <button type="submit" class="btn btn-success">Go!</button>
      </div>
      <input type="hidden" id="size" name="size" value="{{ size }}" />
    </form>
  </body>
</html>
